<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="imgUpload">
    <div>
        <img th:src="@{https://img.icons8.com/?size=250&id=ABBSjQJK83zf&format=png&color=000000}"
             alt="프로필 이미지"
             id="userThumbnail" style="max-width: 200px;" />

        <label for="fileImage" class="form-label mt-4">프로필 이미지 업로드</label>
        <input class="form-control"
               type="file"
               id="fileImage"
               name="fileImage"
               accept="image/png, image/jpeg, image/jpg" />

        <button class="btn btn-primary mt-2"
                type="button"
                id="resetImageBtn">
            기본 이미지로 변경
        </button>
    </div>
</div>
</body>
</html>
