<!-- layout/header.html -->
<header th:fragment="header">
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">
        <img th:src="@{https://img.icons8.com/?size=25&id=wzNnH8s69KA0&format=png&color=000000}">
        Good luck
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/}">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" th:href="@{/list?page=1}">행운 목록</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" 
              th:if="${session.userNo != null}" 
              th:href="@{/profile}">
              내 정보
            </a>
                      
            <a class="nav-link" 
              th:if="${session.userNo == null}" 
              th:href="@{/login}">
              로그인
            </a>
          </li>
          
          <li class="nav-item" 
              th:if="${session.userNo != null}">
            <a class="nav-link" th:href="@{/logout}">로그아웃</a>
          </li>
        </ul>
                </div>
            </div>
        </nav>
</header>