<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Good Luck</title>
    <!-- Bootstrap CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/minty/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- 공통 헤더 삽입 -->
    <div th:replace="~{common/header :: header}"></div>
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card mt-4 mb-3"  style="width: 100%; max-width: 800px;">
            <h3 class="card-header">회원가입</h3>
            <form th:action="@{/regist}" method="post">
            <div class="card-body">
                <img th:src="@{https://img.icons8.com/?size=250&id=ABBSjQJK83zf&format=png&color=000000}" alt="프로필 이미지">
                <div>
                    <label for="userProfile" class="form-label mt-4">프로필 이미지 업로드</label>
                    <input class="form-control" type="file" id="userProfile">
                </div>
                <div>
                    <label for="userName" class="form-label mt-4">
                        이름<span class="text-danger">*</span>
                    </label>
                    <input type="text" class="form-control" id="userName" placeholder="이름을 입력해주세요">

                </div>
                <div>
                    <label for="userId-group" class="form-label mt-4">
                        아이디<span class="text-danger">*</span>
                    </label>
                    <div class="input-group" id="userId-group">
                        <input type="text" class="form-control" id="userId"  aria-describedby="userIdHelp" placeholder="아이디를 입력해주세요">
                        <button type="button" class="btn btn-primary" id="userIdHelp">중복확인</button>
                    </div>
                    <!-- <small id="userIdHelp" class="form-text text-muted">영문,숫자만 입력 가능합니다.</small> -->
                </div>
                <div>
                    <label for="userPw" class="form-label mt-4">
                        비밀번호<span class="text-danger">*</span>
                    </label>
                    <input type="password" class="form-control" id="userPw">
                </div>
                <div>
                    <label for="userEmail" class="form-label mt-4">
                        이메일<span class="text-danger">*</span>
                    </label>
                    <input type="email" class="form-control" id="userEmail"  aria-describedby="userEmailHelp" placeholder="이메일을 입력해주세요">    
                    <small id="userEmailHelp" class="form-text text-muted">Ex. your-address@example.com</small>
                </div>
                <div>
                    <label for="postNo" class="form-label mt-4">우편번호</label>
                    <input type="text" class="form-control" id="postNo">    
                </div>
                <div>
                    <label for="addressMain" class="form-label mt-4">주소</label>
                    <input type="text" class="form-control" id="addressMain">    
                </div>
                <div>
                    <label for="addressDetail" class="form-label mt-4">상세주소</label>
                    <input type="text" class="form-control" id="addressDetail">    
                </div>
                <div>
                    <label for="telNo" class="form-label mt-4">전화번호</label>
                    <input type="text" class="form-control" id="telNo">    
                </div>

            </div>
            <div class="card-footer d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-primary" onclick="postSubmit();">등록하기</button>
            </div>
            </form>
        </div>

    </div>
</body>
</html>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
function postSubmit(){
    const formData = {
            userName: document.getElementById('userName').value,
            userId: document.getElementById('userId').value,
            userPw: document.getElementById('userPw').value,
            userEmail: document.getElementById('userEmail').value,
        };

        fetch('/regist', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
        })
        .then(response => {
            if (response.ok) {
                alert('회원가입 성공');
            } else {
                alert('오류 발생');
            }
        });
}
</script>