<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Good Luck</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/minty/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div th:replace="~{layout/header :: header}"></div>

        <!-- board List -->
        <div class="container d-flex flex-column justify-content-center align-items-center" style="width: 100%;">
        <div class="mt-4 mb-3">
            <h2>행운 목록</h2>
            <p class="text-primary">다른 사람들과 오늘의 기분좋은 일을 공유해보세요</p>
        </div>
        <div class="mt-4 mb-4" style="width:80%;">
        <table class="table table-hover">
            <thead style="text-align: center;">
                <tr>
                <th scope="col">행운 번호</th>
                <th scope="col" style="text-overflow: hidden;">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">최근수정일</th>
                <th scope="col">조회수</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table" th:each="board : ${boards}">
                    <th scope="row" 
                        th:text="${board.boardNo}"
                        style="text-align: center;">
                    </th>
                    <td><a th:href="@{/board/{no}(no=${board.boardNo})}" 
                           th:text="${board.boardTitle}"
                           style="text-decoration-line: none;">
                        </a>
                    </td>
                    <td th:text="${board.writer != null ? board.writer.userName : ''}"
                        style="text-align: center;">
                    </td>
                    <td th:text="${board.createDate}"
                        style="text-align: center;">
                    </td>
                    <td th:text="${board.viewCnt}"
                        style="text-align: center;">
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <!-- board List -->
         
        <!-- pages -->
        <div class="pagenation">
          <ul class="pagination">
              <th:block th:each="i : ${#numbers.sequence(startPage,endPage)}">
                <li th:classappend="${i == currentPage} ? 'page-item active' : 'page-item'">
                  <a class="page-link" th:href="@{/list/{page}(page=${i})}">
                     [[${i}]]
                  </a>
                </li>
              </th:block>
              <!-- <a class="page-link" th:href="@{/list(page=${totalPage})}">&raquo;</a> -->
            </ul>

            <button th:attr="onclick=|location.href='/board/write' |" class="btn btn-primary">
                글쓰기
            </button>
        </div>
        <!-- pages -->
    </body>

    <script>
        setTimeout(function() {
            var alertBox = document.getElementById("alert-box");
            if (alertBox) {
                alertBox.style.display = "none"; // 3초 후 alert 숨김
            }
        }, 3000);
    </script>
</html>