<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Good Luck</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/minty/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <!-- 공통 헤더 삽입 -->
        <div th:replace="~{layout/header :: header}"></div>


        <div class="container d-flex justify-content-center align-items-center">
            <!-- card start -->
            <div class="card mt-4 mb-3"  style="width: 100%; max-width: 800px;">
                <div class="card-body p-5">
                    <h3 class="card-title mb-5 text-center">비밀번호 변경하기</h3>
                    <form th:action="@{/mypage/change-password}" method="post" th:object="${changePasswordDto}" >
                        <div>
                            <label for="oldPw" class="form-label mt-4">기존 비밀번호</label>
                            <input type="password" class="form-control" name="oldPw" id="oldPw" placeholder="기존 비밀번호를 입력해주세요">
                        </div>
                        <div>
                            <label for="newPw" class="form-label mt-4">새 비밀번호</label>
                            <input type="password" class="form-control" name="newPw" id="newPw" placeholder="새로운 비밀번호를 입력해주세요">
                        </div>
                        <div>
                            <label for="newPwCfm" class="form-label mt-4">새 비밀번호 확인</label>
                            <input type="password" class="form-control" name="newPwCfm" id="newPwCfm" placeholder="새로운 비밀번호를 한번 더 입력해주세요">
                        </div>
                        
                        <th:block th:if="${notice != null}">
                            <div class="d-grid gap-2 me-3 ms-3">
                                <div class="alert alert-dismissible alert-secondary">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    <strong th:text="${notice}"></strong> 
                                </div>
                            </div>
                        </th:block>

                        <!-- 버튼 -->
                        <div class="d-grid gap-2 mt-5">
                            <button class="btn btn-lg btn-primary" type="submit">변경하기</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- card start -->
        </div>
    </body>
</html>