<div th:fragment="boardFields">
    <input type="hidden" th:if="${mode == 'modify'}" th:field="*{boardNo}">
    
    <label for="boardTitle" class="form-label">제목</label>
    <h3>
        <input type="text" class="form-control form-control-lg" 
                th:field="*{boardTitle}" placeholder="제목을 입력해주세요">
    </h3>
    <hr class="mt-4">
    <label for="contents" class="form-label mt-2">기록하고 싶은 행운내용을 작성해주세요</label>
    <textarea class="form-control" rows="10"
            th:field="*{contents}" >
    </textarea>

    <!-- 글 작성 시 노출 -->
    <div th:if="${mode == 'write'}">
        <div th:replace="~{board/fragment/thumbnail-img :: thumbnails}"></div>
    </div>
    
    <!-- 글 수정 시 노출 -->
    <div th:if="${mode == 'modify'}">
        <!-- 기존 이미지 표시 -->
        <div th:replace="~{board/fragment/existing-images :: existingImages}"></div>
        
        <!-- 새 이미지 업로드 -->
        <div class="mt-4">
            <h5 class="mb-3">새 이미지 추가</h5>
            <div th:replace="~{board/fragment/thumbnail-img :: thumbnails}"></div>
        </div>
    </div>
</div>