<div th:fragment="boardFields">
    <label for="boardTitle" class="form-label">제목</label>
    <h3>
        <input type="text" class="form-control form-control-lg" 
        id="boardTitle" name="boardTitle" 
                th:attr="value=${preValue.boardTitle} ?: ''" placeholder="제목을 입력해주세요">
    </h3>
    <hr class="mt-4">
    <label for="contents" class="form-label mt-2">기록하고 싶은 행운내용을 작성해주세요</label>
    <textarea class="form-control" rows="10"
            id="contents" name="contents" 
            th:text="${reqeustData.contents} ?: ''" >
    </textarea>

    <!-- 글 작성 시 노출 -->
    <div th:if="${mode == 'write'}">
        <div th:replace="~{board/thumnail-img :: thumbnails}"></div>
    </div>
    
    <!-- 글 수정 시 노출 -->
    <div th:if="${mode == 'edit'}">

    </div>
</div>